@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    width: 100vw;
    height: 100vh;
}

*{
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: white;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.textui{
    width: 30%;
    height: 5%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;

}

.key{
    color: black;
    background-color: white;
    width: 7%;
    height: 70%;
    border-radius: 10%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 35px white;
    font-size: 1.2vw;
    font-weight: 400;
}

.text{
    font-size: 1.3vw;
}